body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: white;
    background-color: rgb(94, 43, 41);
    margin-left: 20px;
    margin-right: 20px}

.title {text-align: center;
border: 5px outset white;
background-color: black;
margin-left: 50px;
margin-right: 50px;}

img {margin: 10px;
border: 4px solid rgb(168, 65, 65);}

.terios {   float: right; width: 390px; position: relative; bottom: 50px;}
.shadow-pixels {   float: right; position: relative; bottom: 50px; border-style: none;}

.center {text-align: center;}

table, th, td {border: 3px solid black;}

a {color: red;}